@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&family=Rubik+Mono+One&display=swap');

body {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    font-family: 'Rowdies', cursive;
    font-family: 'Rubik Mono One', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    background-image: url('../img/bridge.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    background-attachment: fixed;
    cursor: url("../img/"), auto;
}

h2 {
    font-family: 'Rowdies', cursive;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: Rowdies;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 140.625%; /* 42.188px */
}

.startsub{
    margin-top: 0px;
    margin-bottom: 0px;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 7px rgb(10, 91, 3);
    paint-order: stroke fill;
    filter: drop-shadow(0px 0px 2px rgba(0, 29, 52, 0.1));
    font-size: 36px;
    line-height: 125%;
}

#start{
border-radius: 0px;
border-color: transparent;
border-style: none;
}

.label {
    width: 787px;
    height: 222px;
    text-align: center;
    margin: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20%;
    right: 0;
}

.title {
    font-family: 'Rubik Mono One';
    font-size: 30px;
    font-weight: 400;
    line-height: 82.031%;
    background: linear-gradient(180deg, #12c639 0%, rgb(3, 117, 13) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px white;
    paint-order: stroke fill;
    letter-spacing: -2px;
    padding: 20px;
    margin: auto;
    text-align: center;
    transition: transform 0.3s ease;
    position: absolute;
    left: 0%;
    top: 0%;
    filter: drop-shadow(0px 0px 1px rgba(0, 29, 52, 0.05));
}

.label .titlest {
    font-family: 'Rubik Mono One';
    font-size: 90px;
    font-weight: 400;
    line-height: 82.031%;
    background: linear-gradient(180deg, #12c639 0%, rgb(3, 117, 13) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 5px white;
    paint-order: stroke fill;
    letter-spacing: -5px;
    padding: 20px;
    margin: auto;
    text-align: center;
    transition: transform 0.3s ease;
    filter: drop-shadow(0px 0px 3px rgba(0, 29, 52, 0.05));
}

.label .titlest:hover { 
    animation: bounce 0.7s; 
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0); /* Bounce position at the top */
    }
    40% {
        transform: translateY(-20px); /* Bounce position at the middle */
    }
    60% {
        transform: translateY(-10px); /* Bounce position at the bottom */
    }
}

.button-primary {
    margin-top: 20px;
    background-color: #0ea32f;
    border-radius: 5px;
    border: 3px solid #007319;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: fit-content;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 400px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
    filter: drop-shadow(0px 0px 2px rgba(0, 29, 52, 0.1));
}

.button-primary a {
    text-decoration: none;
    color: white;
    font-size: 30px;
}

.button-primary:hover {
    background-color: #007319;
    border-color: #0ea32f;
    
}

html, main {
    margin: 10;
    padding: 10;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  canvas {
    margin-top: 15%;
    padding: 20;
    margin: 10;
    display: flex;
    border-radius: 20px;
    border-style: outset;
    border-width: 8px;
    border-color: rgb(255, 184, 5)
  }

  .position-fixed {
    position: fixed;
    bottom: 0;
    left: 600;
    bottom: 5%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.image {
    width: 1774px;
    height: 367px;
}

.image .skyline {
    position: fixed;
    width: 1600px;
    height: 423.75px;
    top: 90;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
}

@media (max-width: 768px) {
    h2 {
        font-size: 24px; /* Smaller font size for smaller screens */
    }

    .label .titlest {
        font-size: 60px; /* Smaller title size for smaller screens */
    }

    .button-primary a {
        font-size: 24px; /* Smaller button text */
    }
}

@media (min-width: 769px) {
    h2 {
        font-size: 30px; /* Default font size for larger screens */
    }

    .label .titlest {
        font-size: 90px; /* Default title size for larger screens */
    }

    .button-primary a {
        font-size: 30px; /* Default button text */
    }
}